<!-- Main Content -->
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        --color-gray-90: hsl(0, 0%, 90%);
        --color-gray-80: hsl(0, 0%, 80%);
        --color-gray-50: hsl(0, 0%, 50%);
        --color-light: hsl(0, 0%, 100%);
        --font-size-initial: 11px;
        --size-initial: 1px;
    }

    body {
        background: var(--color-gray-90);
        color: var(--color-gray-50);
        font-family: BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: var(--font-size-initial);
    }

    /* CONTAINERS */

    .main_ard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-initial) * 18), 1fr));
        gap: calc(var(--font-size-initial) * 2);
        max-width: calc(var(--font-size-initial) * 80);
        padding: calc(var(--font-size-initial) * 1);
    }

    .section_ard {
        background: var(--color-light);
        border-radius: calc(var(--font-size-initial) * .5);
        box-shadow: 0 calc(var(--size-initial) * 3) calc(var(--size-initial) * 6) hsla(0, 0%, 0%, .1);
        overflow: hidden;
    }

    .article_ard {
        padding: calc(var(--font-size-initial) * 1);
    }

    figure_ard {
        height: calc(var(--font-size-initial) * 15);
    }

    /* IMAGE */

    .img_ard {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }

    /* TYPOGRAPHY */

    .h3_ard {
        font-size: calc(var(--font-size-initial) * 2);
        letter-spacing: calc(var(--size-initial) * -1.25);
        line-height: calc(var(--font-size-initial) * 2.25);
        margin: calc(var(--font-size-initial) * .5) 0;
    }

    .p_ard {
        font-size: calc(var(--font-size-initial) * 1.100);
        line-height: calc(var(--font-size-initial) * 1.25);
    }

    #owl-demo_ard .item img {
        display: block;
        width: 100%;
        height: auto;
    }
</style>
{% load static %}
<div class="col-lg-9">
    <div class="main_content">

        <!-- values -->
        <div class="container mt-3">
            <div class="section_title" id="values">Values...</div>
            <main class="main_ard">
                {%for value in values %}
                <section class="section_ard">
                    <figure class="figure_ard">
                        <img class="img_ard" src="/media/{{value.thumbnail}}" alt="Free Stock Photo from pexels.com">
                    </figure>
                    <article class="article_ard text-center">
                        <h3 class="h3_ard">{{value.name}}</h3>
                        <p class="p_ard text-dark text-justify">{{value.quote}}</p>
                    </article>
                </section>
                {%endfor%}
            </main>
        </div>

        <!-- Categories -->
        <div class="blog_section">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                <div class="section_title" id="categories_ard">Categories...</div>
                <div class="section_tags ml-auto">
                    <ul>
                        <!-- <li class="active"><a href="#">all</a></li> -->
                        {%for c in cat_4 %}
                        <li><a href="/category/{{c.url}}">{{c.title}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="section_panel_more">
                    <ul>
                        <li>more
                            <ul>
                                {%for cat in cat_r %}
                                <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>
                                {%endfor%}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section_content">
                <div class="grid clearfix">

                    <!-- Small Card Without Image -->
                    {% for f in post_main %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_first %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_second %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_third %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_forth %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_fifth %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}

                    <!-- Small Card Without Image -->
                    {% for f in post_sixth %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}




                </div>
            </div>
        </div>
<!-- ________________________________________________________________ -->

        <!-- initiatives -->
        <!-- Blog Section - What's Trending -->

        <div class="blog_section">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                <div class="section_title">Our Initiatives..</div>
                <!-- <div class="section_tags ml-auto">
                    <ul>
                        <li class="active"><a href="category.html">all</a></li>
                        <li><a href="category.html">style hunter</a></li>
                        <li><a href="category.html">vogue</a></li>
                        <li><a href="category.html">health & fitness</a></li>
                        <li><a href="category.html">travel</a></li>
                    </ul>
                </div>
                <div class="section_panel_more">
                    <ul>
                        <li>more
                            <ul>
                                <li><a href="category.html">new look 2018</a></li>
                                <li><a href="category.html">street fashion</a></li>
                                <li><a href="category.html">business</a></li>
                                <li><a href="category.html">recipes</a></li>
                                <li><a href="category.html">sport</a></li>
                                <li><a href="category.html">celebrities</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
                <p class="pl-2">Some famous event and initiatives that we took to go forward with our values</p>
            </div>
            <div class="container mt-4">
                {% for i in initiatives %}
                <div class="row wow fadeInLeft" data-wow-delay=".3s">
                    <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">
                        <h6 class="text-dark text-center font-bold" style="font-weight: 300;">{{i.name}}</h6>
                        <img class="img-fluid rounded z-depth-2" src="/media/{{i.image}}" alt="project image" />
                        <p>Conducted on : {{i.date_of_initiative}}</p>
                    </div>
                    <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4 slide-left">


                        <div class="row mb-3">
                            <div class="col-1 mr-1"></div>
                            <div class="col-10">
                                <h5 class="font-weight-bold">{{i.title1_like_what_we_do}}</h5>
                                <p class="grey-text">
                                    {{i.content1}}
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"></div>
                            <div class="col-10">
                                <h5 class="font-weight-bold">{{i.title2_like_how_we_do}}</h5>
                                <p class="grey-text">
                                    {{i.content2}}
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"></div>
                            <div class="col-10">
                                <h5 class="font-weight-bold">{{i.title_like_what_we_achieve}}</h5>
                                <p class="grey-text">
                                    {{i.content3}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <hr /> {%endfor%}

            </div>
        </div>


        <!-- __________________________________________________________________________ -->
<!-- post filtered with views -->
        <div class="blog_section">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                <div class="section_title" id="categories_ard">Most Viewed...</div>
                <div class="section_tags ml-auto">
                    <ul>
                        <!-- <li class="active"><a href="#">all</a></li> -->
                        {%for c in cat_4 %}
                        <li><a href="/category/{{c.url}}">{{c.title}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="section_panel_more">
                    <ul>
                        <li>more
                            <ul>
                                {%for cat in cat_r %}
                                <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>
                                {%endfor%}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section_content">
                <div class="grid clearfix">
                    <!-- Small Card Without Image -->
                    {% for f in aj %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small"><a href="/blog/{{f.url}}">{{f.title}}</a></div>
                            <small class="post_meta"><a
                                    href="/blog/{{f.url}}">{{f.author}}</a><span>{{f.publish}}</span></small>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        <!-- __________________________________________________________________________ -->



        <!-- Blog Section - Team Members -->
        <div class="blog_section" id="team">
            <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                <div class="section_title">Team Members</div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="section_content">
                <div class="grid">
                    
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small text-dark ">Our social media handles</div>
                            <!-- <small class="post_meta">Our Handles<span> -->
                                <a style="color:rgb(34, 34, 244);" href="https://twitter.com/UtkrishtaBNitk" class="ml-2" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a style="color:rgb(0, 68, 255);" href="https://ne-np.facebook.com/utkrishta.bharath.nitk" class="ml-2" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a style="color:rgb(255, 0, 157);" href="https://www.instagram.com/utkrishta.bharath.nitk/" class="ml-2" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a style="color:rgb(255, 0, 0);" href="https://www.youtube.com/@utkrishtabharathnitk" class="ml-2" target="_blank"><i class="fa fa-youtube fa-youtube-play" aria-hidden="true"></i></a>
                                    <!-- </span> -->
                                <!-- </small> -->
                        </div>
                    </div>

                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small text-dark">We are not only one big team, but we are also one big    family!</div>
                            <!-- <small class="post_meta">Our Handles<span><a style="color:blue;" href=""
                                        target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span></small> -->
                        </div>
                    </div>
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small text-dark">These are our warriors who are currently leading the mission.</div>
                            <!-- <small class="post_meta">Our Handles<span><a style="color:blue;" href=""
                                        target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span></small> -->
                        </div>
                    </div>
                    {% for i in team_core_members %}
                    <div class="card card_small_with_image grid-item">
                        <img class="card-img-top" src="/media/{{i.image}}" alt="Image">
                        <div class="card-body">
                            <div class="card-title card-title-small text-dark"><a href="#">{{i.name}}</a></div>
                            <small class="post_meta">{{i.work}}<span><a style="color:blue;" href="{{i.handle_link}}"
                                        target="_blank">{{i.Social_media_handle}}</a></span></small>
                        </div>
                    </div>
                    {%endfor%} {% for i in other_important_members %}
                    <div class="card card_default card_small_no_image grid-item">
                        <div class="card-body">
                            <div class="card-title card-title-small text-dark">{{i.name}}</div>
                            <small class="post_meta">{{i.work}}<span><a style="color:blue;" href="{{i.handle_link}}"
                                        target="_blank">{{i.Social_media_handle}}</a></span></small>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {% else %}
            <div class="container text-center color-black font-bold col-12 col-md-8 col-lg-6 col-xl-5">
                <h6 class="alert-danger">Login to see our team members</h6>
                <a href="/login"> <button type="button" class="btn btn-dark btn-rounded"
                        data-mdb-ripple-color="dark">Login</button></a>
                <a href="/signup"><button type="button" class="btn btn-dark btn-rounded"
                        data-mdb-ripple-color="dark">SignUp</button></a>
            </div>
            {% endif %}
        </div>

        <!-- contact us -->
        <section id="contact">

            <div class="rgba-black-strong py-5">
                <div class="container">
                    <div class="wow fadeIn">
                        <div class="section_title" id="categories_ard">Contact Us</div>

                    </div>
                    <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="card-body p-5">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-dismissible alert-success">
                                        <button type="button" class="close" data-dismiss="alert">
                                            ×
                                        </button>
                                        <strong>{{message}}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %} -->
                                    <form id="myForm" method="POST">
                                        {% comment %}
                                        <div class="row">
                                            <div class="col-md-12 text-center py-2">
                                                <h4> (Suggestions, corrections, and advice are all welcome!)</h4>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input class="form-control" id="name" type="text" name="name"
                                                        required="required" />
                                                    <label for="name">Your name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input class="form-control" id="email" type="text" name="_replyto"
                                                        required="required" />
                                                    <label for="email">Your email</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <input class="form-control" id="subject" type="text" name="subject"
                                                        required="required" />
                                                    <label for="subject">Subject</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <textarea class="md-textarea" id="message" name="message"
                                                        required="required"></textarea>
                                                    <label for="message">Your message</label>
                                                </div>
                                            </div>
                                        </div> {% endcomment %} {{ contact_form.as_p }} {% csrf_token %}
                                        <div class="center-on-small-only mb-4">
                                            <button class="btn btn-indigo ml-0" type="submit"><i
                                                    class="fa fa-paper-plane-o mr-2"></i> Send</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled text-center">
                                        <li class="mt-4"><i class="fa fa-map-marker indigo-text fa-2x"></i>
                                            <p class="mt-2">NITK Surathkal, Karnataka</p>
                                        </li>
                                        <li class="mt-4"><i class="fa fa-phone indigo-text fa-2x"></i>
                                            <p class="mt-2">+910000000000</p>
                                        </li>
                                        <li class="mt-4"><i class="fa fa-envelope indigo-text fa-2x"></i>
                                            <p class="mt-2">something@gmail.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

</div>


<script>
    $('#myForm').trigger("reset");
</script>