{% extends 'base/base.html' %} {% load static %}{%block title%} Signup Page | Utkrishta Bharath | The Glorious India | Be proud to be an Indian {%endblock%}  {% load crispy_forms_tags %}
{% block extra_head_tags %}
{{ block.super }}
   <meta name="description" content="Signup page of Utkrishta bharath.Want to make Bharath Utkrishta?Join the movement with Utkrishta Bharath.We write blogs realted to he History with Indian point of view, Geopolitics, Glorioes of Inida, Spirituality and many more. Utkrishta Bharath Nitk. Connect with Utkrishta Bharath Nitk .NITK Surathkal Starts Utkrishta Bharath Club... ">
    <meta name="keywords" content="Login to Utkrishta Bharath, Login Page, signup Page,Utkrishta Bharath NITK, Utkrishta Bharath nitk, India, Glories of India, ancient india, making india Utkrishta, facebook-Utkrishta Bharath, twitter-Utkrishta Bharath, linkedIn-Utkrishta Bharath, Bharath Darshan,  ">
{% endblock %} {% block content %}
<style>
    .errorlist {
      color: white;
    }
  </style>
  
  <!-- Section: Design Block -->
  <section class="text-center">
      <!-- Background image -->
      <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 1%, 0.8);
            color: rgb(250, 241, 225);
            backdrop-filter: blur(30px);">
          <div class="card-body py-5 px-md-5">
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-6">
                      <h2 class="fw-bold mb-5">Sign up now</h2>
                      {% if messages %}
                          {% for message in messages %}
                              <p class="alert alert-{{ message.tags }} mb-5" {% if message.tags %} style="color: white;" {% endif %}>{{ message }}</p>
                          {% endfor %}
                      {% endif %}
                      <form action="" method="post" novalidate>
                          {% csrf_token %}
                          {% for fm in form %}
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                                  {% csrf_token %}
                                  {{ form.as_p }}
                              <label class="form-label" for="form3Example3">{{fm.label_tag}}</label>
                              <small class="text-warning" style="color: white;"> {{fm.errors|striptags}}</small>
                          </div>
                          {% endfor %}
  
                          <!-- Checkbox -->
                          <div class="form-check d-flex justify-content-align mb-4">
                              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                              <label class="form-check-label" for="form2Example33">
                                   Subscribe to our newsletter
                              </label>
                          </div>
  
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-dark btn-rounded mb-3" data-mdb-ripple-color="dark" value="sign up">SignUp</button><br>
                          <a href="/login">Already SignedUp?</a>
                          {% if form.non_field_errors %}
                              {% for error in form.non_field_errors %}
                                  <p class="alert alert-danger my-3" style="color: white;">{{error}}</p>
                              {% endfor %}
                          {% endif %}
  
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
<!-- Section: Design Block -->
{% endblock content %}