{% extends 'base.html' %}
{% load static %}{% block content %}
<div class="container">
    <h1>Colleges</h1>
    <div class="row">
        {% for college in colleges %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ college.name }}</h5>
                        <p class="card-text">{{ college.desc }}</p>
                        <a href="{% url 'branch_view' college.id %}" class="btn btn-primary">View Branches</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
