{% extends 'base.html' %}
{% load static %}{% block content %}
  <title>Instructor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Instructor: {{ instructor.name }}</h1>
    <p>Course taken in year: {{ instructor.course_taken_in_year }}</p>
    <p>About: {{ instructor.about }}</p>
    <p>Reviews: {{ instructor.reviews }}</p>
    <a href="{% url 'course_view' instructor.course.semester.branch.college.id instructor.course.semester.branch.id instructor.course.semester.id instructor.course.id %}" class="btn btn-primary">Back to Course</a>
  </div>
  {% endblock %}
