{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Semester View</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Semester Name</th>
                <th>Semester Number</th>
                <th>Branch Name</th>
            </tr>
        </thead>
        <tbody>
            {% for semester in semesters %}
            <tr>
                <td>{{ semester.name }}</td>
                <td>{{ semester.number }}</td>
                <td>{{ semester.branch.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center my-5">
        <a href="{% url 'branch_view' semester.branch.id %}" class="btn btn-primary">Back to Branch</a>
    </div>
</div>
{% endblock %}
