{% extends 'base/base.html' %} {% load static %}{%block title%} Profile Page | Utkrishta Bharath | The Glorious India | Be proud to be an Indian {%endblock%}  
{% block extra_head_tags %}
{{ block.super }}
   <meta name="description" content="Want to make Bharath Utkrishta?Join the movement with Utkrishta Bharath.We write blogs realted to he History with Indian point of view, Geopolitics, Glorioes of Inida, Spirituality and many more. Utkrishta Bharath Nitk. Connect with Utkrishta Bharath Nitk .NITK Surathkal Starts Utkrishta Bharath Club... ">
    <meta name="keywords" content="Profile page of Utkrishta Bharath ,Login to Utkrishta Bharath, Login Page, signup Page,Utkrishta Bharath NITK, Utkrishta Bharath nitk, India, Glories of India, ancient india, making india Utkrishta, facebook-Utkrishta Bharath, twitter-Utkrishta Bharath, linkedIn-Utkrishta Bharath, Bharath Darshan,  ">
{% endblock %} {% block content %} {% load crispy_forms_tags %}

<style>
    .ard {
        background-color: black;
        height: 9rem;
        width: 100vw;
        margin-bottom: 14px;
    }
</style>

<div class="home ard">

</div>

<div class="container bootstrap snippet pt-4    ">

    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">
                <h4 class=" text-dark ">Hi {{name}}</h4>
                {% if messages %} {% for message in messages %}

                <div {% if message.tags %} class=" {{message.tags}} alert alert-success alert-dismissible fade show" role="alert" {% endif %}>
                    <strong>{{name}} ! <br> </strong>{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} {% endif %}

                <img src="{%static 'images/user.png'%}" class="avatar img-circle img-thumbnail" alt="avatar">
                <!-- <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload"> -->
                <h4 class="pt-3">Welcome to Utkrishta Bharath
                    <h4>
                        <p class="pt-3 text-info">
                            Want to contribute to Utkrishta Bharath by writing Blogs?
                        </p>
                        <p class=" text-success ">Don't forget to mention WhatsApp Number in message</p>
                        <p>
                            <a href="/#contact"><button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Contact us</button></a>

                        </p>
                        <p class=" text-dark">Date Joined <br> {{name.date_joined}}</p>
                        <p class=" text-dark">last login <br> {{name.last_login}}</p>
                        <!-- <p class=" text-dark">Your Email <br> {{name.email}}</p> -->

            </div>

            <br>


        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <h4 class="active text-justify text-dark">Your Profile</h4>
            <hr>
            <div class="tab-content mt-3">
                <div class="tab-pane active" id="home">
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                {% csrf_token %} {% for fm in form %}
                                <div class="form-outline mb-4">
                                    <!-- <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />  -->
                                    <!-- {{form | crispy}} -->
                                    <!-- {{fm}} -->
                                    <label class="form-label text-dark">
                                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
                                </label>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success m-2" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>

                                <a href="{% url 'change_pass' %}"> <button class="btn btn-lg m-2" type="button"><i class="glyphicon glyphicon-repeat"></i> Change Password</button></a>
                                <a href="/"> <button class="btn btn-lg m-2  " type="button"><i class="glyphicon glyphicon-repeat"></i> Home</button></a>

                            </div>
                        </div>{% if form.non_field_errors %} {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %} {% endif %}
                    </form>

                    <hr>

                </div>

            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
{% endblock content %}