{% extends "base/base.html" %}{% block content %}

<style>
    .ard {
        background-color: black;
        height: 55vh;
        width: 100vw;
        margin-bottom: 14px;
    }
  </style>
  
  <div class="home ard">
    <div class="home_content">
        <div class="post_title">Course : {{course.title}}</div>
        
    </div>
  </div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, est possimus quidem fugit tempore optio cum accusamus nostrum enim explicabo aliquid sed, reiciendis doloribus natus architecto assumenda obcaecati culpa. Adipisci!

    br
    <hr><hr>hi this i sajinkya, in pdf page
</p>
{% endblock %}