{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
  .ard {
      background-color: black;
      height: 55vh;
      width: 100vw;
      margin-bottom: 14px;
  }
</style>

<div class="home ard">
  <div class="home_content">
      <div class="post_title">Branch : {{ branch.name }}</div>
      
  </div>
</div>

  <div class="container mb-5">

    <div class="container pt-5">
      {% for sem in semesters %}
        <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ forloop.counter }}" data-bs-target-group="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}">{{ sem.name }}</button>

        <div class="collapse container px-4 px-lg-5 text-center border mt-2" id="collapseExample{{ forloop.counter }}">
          <h6 class="mt-2 pt-2 text-danger">{{ sem.name }}</h6>
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for course in sem.course_set.all %}
              <div class="card text-center col mb-5 m-2">
                <div class="card-body" style="overflow: auto;">
                  <h5 class="card-title">{{ course.title }}</h5>
                  <p class="card-text">Views: {{ course.views }}</p>
                  <a href="/branch/courses/{{course.url}}" class="btn btn-primary">Visit course</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <br />
      {% endfor %}
    </div>
  </div>

{% endblock %}